<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org
">
<div th:replace="~{shared/fragments :: script}"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{shared/fragments :: microBar}"></div>
<div th:insert="~{shared/fragments :: nav}"></div>
<div class="container" style="display: block" >




<div th:each="gra:${shop}" style="font-size: 15px;display: flex; padding: 5px;">
    <div th:text="*{gra.title}" style="margin-right: 5px;margin-left: 5px"></div>
    <div th:text="*{gra.price}"></div>
    <a style="float: right; margin-left: 30px;" class="btn btn-primary" th:href="@{delete(id=*{gra.id})}" role="button">delete</a>


</div>
    <div style=" float:right; margin-left: 20px;"><a th:href="@{order}" class="btn btn-success" role="button" >Dalej -></a>
    </div>
<div style=" font-size: 25px; float:right;">

<div th:object="${obj}" >

    <div th:text="*{price} +  zl."></div>

  </div>
</div>







</div>

<div th:insert="~{shared/fragments :: footer}"></div>
</body>
</html>