<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org
">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{shared/fragments :: script}"></div>
</head>
<body>
<div th:insert="~{shared/fragments :: microBar}"></div>
<div th:insert="~{shared/fragments :: nav}"></div>
<div class="container"  style="display: block">

<form th:method="post" th:action="@{info}" th:object="${order}" >


    <div style="display: block;">
       <label> Wybierz rodzaj dostawy</label>

        <select th:field="*{dostawa.id}">
            <option value="-1" selected="selected">-Choose-</option>
            <option th:each="dostawa:${dostawa}" th:value="${dostawa.id} ">[[${dostawa.nazwa}]] [[${dostawa.cena}]] zl.</option>

        </select>
        <label>Wybierz rodzaj platnosci</label>

        <select th:field="*{platnosc.id}">
            <option value="-1" selected="selected">-Choose-</option>
            <option th:each="platnosc:${platnosc}" th:value="${platnosc.id} ">[[${platnosc.nazwa}]]</option>

        </select>
        <h2>Total Price: </h2><div style="font-size: 20px; " th:text="*{price}+ zl."></div>

        <div class="Butto" style="margin-top: 100px;"><input type="submit" value="Zatwierdz"></div>
    </div>

<div style="display: block; margin: 10px; font-size: 20px;">
    <h1>LISTA GIER W ZAMOWIENIU</h1>
    <BR>
    <div th:each="gra:${order.game}" >

        <div th:text="${gra.title}"> </div>
        <div th:text="${gra.price}+ zl"> </div>
    </div>
    <div style="float: right;"> </div>


</div>







</form>




</div>











</div>

<div th:insert="~{shared/fragments :: footer}"></div>
</body>
</html>