<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <div th:replace="~{shared/fragments :: script}"></div>

</head>
<body>
<div th:insert="~{shared/fragments :: nav}"></div>



<div style="display: block" class="container" >
    <H1 style="text-align: center; font-size: 30px; margin-top: 20px;margin-bottom: 20px;">Udało Ci się zarejestrować, link aktywacyjny został wysłany na maila który podałeś podczas rejestracji<a th:href="@{/}">kliknij tutaj</a> aby wrócic do strony głównej</H1>




</div>
<div th:replace="~{shared/fragments :: footer}"></div>
</body>
</html>