<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org
">
<div th:replace="~{shared/fragments :: script}"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{shared/fragments :: microBar}"></div>
<div th:insert="~{shared/fragments :: nav}"></div>
<div class="container" style="flex-direction:column;justify-content: center; align-items: center;" th:object="${user}">


    <div style="display: flex; font-size: 20px;">
        <div style="margin-left: 10px;" th:text="*{imie}"></div>
        <div style="margin-left: 10px;" th:text="*{nazwisko}"></div>
    </div>

    <div>
        <h1>Moje Zamówienia</h1>
        <div style="display: flex;padding: 10px" th:each="order:${user.order}">

            <div style="margin-left: 10px;" th:text="${order.id}"></div>
            <div style="margin-left: 10px;" th:text="${order.orderDate}"></div>
        </div>
    </div>


</div>

<div th:insert="~{shared/fragments :: footer}"></div>
</body>
</html>