<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org
">
<div th:replace="~{shared/fragments :: script}"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{shared/fragments :: microBar}"></div>
<div th:insert="~{shared/fragments :: nav}"></div>
<div class="container2"  th:object="${user}">


    <div style="display: block; font-size: 20px;">
        <h3>Imie i Nazwisko</h3>
        <div style="display: flex">
        <div style="margin-left: 10px;" th:text="*{imie}"></div>
        <div style="margin-left: 10px;" th:text="*{nazwisko}"></div>
        </div>
        <h3>Adres</h3>
        <div style="display: flex">
        <div style="margin-left: 10px;" th:text="*{miasto}"></div>
        <div style="margin-left: 10px;" th:text="*{ulica}"></div>
        <div style="margin-left: 10px;" th:text="*{nrDomu}"></div>
        </div>


    </div>

    <div>
        <h1>Moje Zamówienia</h1>
        <div style="display: flex;padding: 10px;font-size: 20px;" th:each="order:${user.order}">

            <div style="margin-left: 10px;" th:text="${order.id}"></div>
            <div style="margin-left: 10px;" th:text="${order.orderDate}"></div>
            <a th:href="@{/shop/details(id=${order.id})}"  style="margin-left: 10px;" class="btn btn-primary" role="button">details</a>
        </div>
    </div>


</div>

<div th:insert="~{shared/fragments :: footer}"></div>
</body>
</html>